<div class="errors-card" id="<%= cardId %>" style="display: <%- display%>">
  <button class="close-btn" onclick="closeErrorCard('<%= cardId %>')">x</button>
  <p class="error-msg"><%= error %></p>
</div>
