<div class="errors-card" id="<%= cardId %>" style="display: <%- display%>">
    <p class="error-msg"><%- message.replace("\n", "<br>") %></p>
    <span class="close-btn" onclick="closeErrorCard('<%= cardId %>')">x</span>
</div>