<!doctype html>
<html>
  <head>
    <title>Joining Lobby</title>
  </head>
  <body>
    <form id="joinForm" action="/game/<%= id %>/join" method="POST">
      <input type="text" value="">
    </form>
    <script>
      document.getElementById('joinForm').submit();
    </script>
  </body>
</html>
