<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uno Login</title>
    <link rel="stylesheet" type="text/css" href="/styles/login.css" />
  </head>
  <body>
    <header>
      <h1>The Uno and Only Uno</h1>
      <h2>
        Connect with friends<br />
        and play the best game since crazy 8's.
      </h2>
    </header>
    <form action="/user/login" method="POST">
      <input
        id="username"
        placeholder="Username or Email"
        type="text"
        name="usernameOrEmail"
        required
      />

      <input
        type="password"
        placeholder="Password"
        name="password"
        id="password"
        required
      />
      <button id="login-button" type="submit">Log In</button>
      <hr />
      <button
        id="register-button"
        type="reset"
        onclick="location.href='/register'"
      >
        Create New Account
      </button>

      <div id="error-cards-container">
        <% if (messages.length > 0) { %>
          <% messages.forEach((error, idx) => { %>
            <%- include('partials/errorCard', { cardId: `errors-card-${idx}`, display: 'flex', error })%>
          <% }) %>
        <% } %>
      </div>
      <script src="/login.js"></script>
    </form>
  </body>
</html>
