<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uno Register</title>
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
    <h1>Sign up to start playing Uno!</h1>
    <p>It's quick and easy.</p>
    <form action="/user/register" method="POST">
        
        <input id="username" placeholder="username" type="text" name="username">
        <input type="password" placeholder="password" name="password" id="password">
        <input type="password" placeholder="confirm password" name="confirmPassword" id="confirm-password">
        <button type="submit" id="registerButton">Register</button>
    </form>
    
    <script>
        document.getElementById("registerButton").addEventListener("click", function(event) {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm-password").value;
    
            if (password !== confirmPassword) {
                alert("Passwords do not match!");
                event.preventDefault();
            }
        });
    </script>
    
</body>
</html>