.players-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 3px solid black;
  text-align: center;
}

.opponent-container {
  display: flex;
  flex-direction: column;

  border: 3px solid black;
  text-align: center;
  height: 200px;
  width: 200px;
}

.opponent-container img {
  height: 120px;
  width: 60px;
}

main {
  display: flex;
  flex-direction: row;
}

.deck-container img {
  height: 150px;
  width: 100px;
}

.discard-container img {
  height: 150px;
  width: 100px;
}
