* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Calibri;
  color: black;
}

a:hover {
  text-decoration: underline;
  font-size: 32px;
}

body {
  background-image: url("../images/uno.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;
}

header {
  width: 100vw;
  height: 100px;
  border-bottom: solid 1px rgba(16, 16, 16, 0.1);
  font-size: 30px;
}

header .inner {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

header .name {
  display: table;
  height: 100%;
  float: left;
}

header .name div {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

header nav {
  float: right;
  height: 100%;
}

header nav li {
  display: table;
  height: 100%;
  float: left;
  margin-right: 30px;
}

header nav li:last-of-type {
  margin-right: 0;
}

header nav span {
  display: table-cell;
  vertical-align: middle;
}

/** Authorized homepage styling */
#auth-container {
  display: flex;
  padding: 20px;
}

#left {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#right {
  width: 30%;
  display: flex;
  flex-direction: column;
}

#create-game-button {
  width: 100%;
  height: 50px;
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 40px;
  cursor: pointer;
}

#create-game-button:hover {
  background-color: darkblue;
}

/** Game list Styling */
#game-list-container {
  background-color: lightgray;
  width: 100%;
  height: 800px;
  overflow-y: scroll;
}

#game-list-container h1 {
  text-align: center;
}

.available-game {
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  display: flex;
  font-size: 20px;
  padding-left: 10px;
  border: black thin solid;
  background-color: lightgray;
}

.available-game:nth-child(even) {
  background-color: grey;
}

.game-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.available-game button {
  width: 50px;
  cursor: pointer;
  color: black;
  font-size: 20px;
}

/** Chat Styling */
#chat-container {
  height: 100%;
  width: 90%;
  align-self: flex-end;
  background-color: yellow;
  border: 3px solid black;
  padding: 5px;
}

#chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80%;
  width: 100%;
  background-color: honeydew;
  overflow-y: scroll;
}

.chat-form {
  width: 100%;
}

.chat-form input {
  width: 80%;
  height: 50px;
  border: black thin solid;
  padding-left: 10px;
  font-size: 20px;
}

.chat-form input:focus {
  outline: none;
}

.chat-form button {
  width: 15%;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

/** Create Game Form Styling */
.popup {
  position: absolute;
  z-index: 10;
  background-color: green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  width: 80%;
  border-radius: 5px;
}

.popup header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.popup h1 {
  text-align: center;
}

.popup #close-popup {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

.popup form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  margin: 5px;
  font-size: 20px;
  padding: 5px 5px 5px 20px;
}

.popup label {
  font-size: 20px;
  padding-left: 10px;
  font-weight: 600;
}

.popup input[type="number"] {
  width: 10%;
  height: 40px;
  border-radius: 5px;
  margin: 5px;
  font-size: 20px;
  padding: 5px 5px 5px 20px;
}

.popup input:focus {
  outline: none;
}

.popup button {
  width: 80%;
  height: 40px;
  margin: 5px;
  padding: 5px 5px 5px 20px;
  font-size: 20px;
}

/* Protected Game Form Styling */
.popup #close-protected-game-form {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}

#error-message-container {
  margin: 10px;
}

#error-message-p {
  font-size: 20px;
  font-weight: bold;
}
