* {
  font-family: Calibri;
}

body {
  background-color: #f2f2f2;
  min-width: 400px;
}

#game-title {
  color: red;
  text-align: center;
  font-size: 50px;
}

#container-title {
  text-align: center;
  margin-top: 0;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
  margin: 1% auto;
  padding: 20px;
  width: 20%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

form input {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 5px;
  font-size: 20px;
  padding: 5px 5px 5px 20px;
}

form input:focus {
  outline: none;
}

form button {
  height: 40px;
  border-radius: 10px;
  width: 50%;
  background-color: red;
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2px;
  margin-top: 15px;
}

form button:hover {
  background-color: #cc0000;
}

a {
  margin: 5px;
  text-decoration: none;
  color: blue;
}

a:hover {
  color: darkblue;
}

form p {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

#error-cards-container {
  margin-top: 10px;
}

.errors-card {
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
  text-align: center;
  background-color: green;
  margin-top: 10px;
  padding: 5px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 5px;
  left: 10px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.errors-card p {
  color: white;
  font-size: 85%;
  font-weight: 600;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
